<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|シンクライアント予約状況|"></title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>貸出日</th>
            <th>返却予定日</th>
        </tr>

        <tr th:each="wyse : ${activatedWyseList}">
            <td th:text="${wyse.wyseId}"></td>
            <td th:text="${#dates.format(wyse.reservationDate, 'yyyy/MM/dd')}"></td>
            <td th:text="${#dates.format(wyse.returnDate, 'yyyy/MM/dd')}"></td>
       </tr>
    </table>
</body>
</html>